

@media (max-width: 500px){

#header a{
    color: #ffffff;
}

/*google map*/
#map_area{
	padding-left: 0px;
	display: flex;

}
#map_area iframe{
width: 100%;
height: 80%;
padding-left: 0px;
}
.bx-envelope{
	padding-top: 10px;
}


}

@media (max-width: 900px){}
#map_area iframe{
width: 80%;
height: 80%;
padding-left: 0px;
}
}
.mobile-nav-toggle i{
	color: #fff;
}




#header a{
    color: #ffffff;
}

#map_area{
	padding-left: 68px;
}
.bx-envelope{
	padding-top: 10px;
}

/*==Loader==*/

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display:flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: flex;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}