

@media (max-width: 500px){

#header a{
    color: #ffffff;
}

/*google map*/
#map_area{
	padding-left: 0px;
	display: flex;

}
#map_area iframe{
width: 100%;
height: 80%;
padding-left: 0px;
}
.bx-envelope{
	padding-top: 10px;
}


}

@media (max-width: 900px){}
#map_area iframe{
width: 80%;
height: 80%;
padding-left: 0px;
}
}
.mobile-nav-toggle i{
	color: #fff;
}




#header a{
    color: #ffffff;
}

#map_area{
	padding-left: 68px;
}
.bx-envelope{
	padding-top: 10px;
}

/*==Loader==*/
#loader_loading{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: #000
	url('../Preloader_21.gif') no-repeat center;
	z-index: 999999;
}

